<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				<remove name="WebDAV" />
			</handlers>
			<!--Fix not allow HTTP DELETE, PUT-->
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<aspNetCore processPath=".\ProjectDashboardSample.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<!--<environmentVariables>
			<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
		  </environmentVariables>-->
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 75a93370-4f61-4682-a6b6-f9db69fa79fd-->